
@model ShopSite.ViewModels.Category.CategoryListViewModel


@{
    ViewBag.Title = "Category";
}

    <div class="row">
        <div class="col-md-6">
            <h2>Category List</h2>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-primary" asp-action="CategoryCreate"><span class="glyphicon glyphicon-plus"></span> Create Category</a>
        </div>
    </div>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Categories)
    {
                <tr>

                    <td>@item.Name</td>
                    <td>
                        <a title="Edit" class="btn btn-primary" asp-action="CategoryEdit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a title="Remove" class="btn btn-danger delete" asp-action="CategoryRemove" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>

                </tr>
    }
    </tbody>
</table>