@model ShopSite.ViewModels.Category.CategoryListViewModel

<ul>
    
    @foreach (var item in Model.Categories)
    {
        <a asp-controller="Product" asp-action="ProductsByCategory" asp-route-id="@item.Id" class="list-group-item">@item.Name</a>
    }

</ul>