<form class="form-inline" method="get" asp-controller="Search" asp-action="Index">

    <div class="form-group search-input">
        <input type="text" class="form-control"  placeholder="@Localizer["Search here..."]">
    </div>

    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search"></span> @Localizer["Search"]
    </button>
</form>
<br />