@using System
@using ShopSite.ProductOptions.ViewModels
@model ProductEdit

@{
    ViewBag.Title = "Create";
    int m = 0;
}


<form class="form-horizontal" asp-action="ProductCreate" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label class="col-sm-2 control-label">Product Name</label>
        <div class="col-sm-9">
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Short Description</label>
        <div class="col-sm-9">
            <textarea asp-for="Product.ShortDescription" rows="3" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-9">
            <textarea asp-for="Product.Description" rows="4" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Price</label>
        <div class="col-sm-5">
            <input asp-for="Product.Price" rows="3" class="form-control" />
            <span asp-validation-for="Product.Price"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Stock Quantity</label>
        <div class="col-sm-5">
            <input asp-for="Product.StockQuantity" rows="3" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Is Featured</label>
        <div class="col-sm-1">
            <input type="checkbox" asp-for="Product.IsFeatured" rows="3" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Is Allowed To Order</label>
        <div class="col-sm-1">
            <input type="checkbox" asp-for="Product.IsAllowedToOrder" rows="3" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
            <input asp-for="File" />
            <span asp-validation-for="File"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Categories</label>
        <div class="col-sm-2">
            <ul class="list-group">
                @for (int i = 0; i < Model.Categories.Count(); i++)
                {
                    <li class="list-group-item">
                        @Html.Label(Model.Categories[i].Text)
                        @Html.EditorFor(x => x.SelectedCategories[i])
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Options</label>
        <div class="col-sm-6">
            <ul class="list-group">
                
                @for (int i =0;i<Model.Options.Count;i++)
                {
                    <li id="mmm_@i.ToString()" class="list-group-item">
                        <input type="hidden" asp-for=Options[i].Id />
                        <input type="hidden" asp-for=Options[i].Name />
                        <label>@Model.Options[i].Name</label>
                    </li>
                    <li class="list-unstyled">
                        <a class="btn btn-xs btn-info" id="btn_@i.ToString()">
                            <span class="glyphicon glyphicon-plus"></span> New Value
                        </a>
                    </li>
                }
                
            </ul>
            
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Save" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Create</button>
        </div>
    </div>
</form>


<script src="~/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#btn_0").click(function () {
            $("#mmm_0").append("<input type=\"text\" id=\"Options_"+0+"__Values\" name=\"Options["+0+ "].Values\" />");
        });

        $("#btn_1").click(function () {
            $("#mmm_1").append("<input type=\"text\" id=\"Options_" + 1 + "__Values\" name=\"Options[" + 1 + "].Values\" />");
        });
    });
</script>