@model int
 
<div class="cart-badge badge-icons pull-right">
    <a asp-controller="Cart" asp-action="Index"><i class="glyphicon glyphicon-shopping-cart" style="font-size:1.5em;" ></i></a>
    <span class="badge badge-sea rounded-x">@Model</span>
    <div class="badge-open">
    </div>
</div>